.mans{
	font-size:60px;
	font-family:arial;
	text-align:center;
 }
		
h1{
	margin-bottom:50px;
}

h3{
	 font-size:20px;
	 font-family:arial;
	 text-align:center;
}
	   
p{
	font-family:arial;
	font-size:10px;
	font-weight:bold;
	text-align:center;
}
	   
body{
	background-color:#ADD8E6;
}
	   
	
		
	   